; Example ini, needs to be placed in webroot

[general]
email_admin=

[content]
default_post_image=https://api.zaplog.pro/content/dark-background-3494082_1280.jpg
broken_link_redirector="http://localhost:8080/Api.php/goto?urlencoded="

[translation]
auto_translate=0
deepl_auth_key=
deepl_api_url=https://api-free.deepl.com/v2/translate
translate_user_quotum=10000
translate_super_reputation=500

[cors]
cors_origin[]=
cors_origin[]=
cors_expose_headers=
cors_max_age=1728000
cors_allow_credentials=1
cors_allow_methods=POST,GET,PUT,DELETE,PATCH
cors_allow_headers=Authorization,Content-Type

[database]
database_host=127.0.0.1
database_name=zaplog
database_user=
database_password=
database_charset=utf8
#enable = 1 disable = 0
database_query_logging=0

[smtp]
smtp_host=
smtp_login=
smtp_password=
smtp_secure=TLS
smtp_port=587

[email]
email_sender=
email_sendername=Zaplog
